{% extends "master/master.html" %}

{% block title %}
<title>About TripBenefit.com</title>
{% endblock %}

{% block content %}
	<div class="headline">
		<h2>О нас</h2>
	</div>
	<div class="about">		
		<p>Цель нашего сайта – дать возможность легко и просто построить оптимальный
маршрут перемещения по Санкт-Петербургу и окрестностям с помощью общественного
транспорта. Существующие популярные ресурсы вроде map.google.com, map.yandex.ru
зачастую предлагают совершенно нереалистичные маршруты. Мы получаем результаты
с нескольких популярных ресурсов построения маршрутов, сравниваем их с нашим
собственным вариантам и предлагаем вам лучший из имеющихся. Полученный результат
удовлетворяет нас в большинстве случаев.</p>
	    <p>Мы, создатели данного сайта, всю жизнь прожили в Санкт-Петербурге и можем оценить
насколько полученный результат реалистичен. Оцените и вы! Присылайте любые
комментарии, замечания, предложения на наш почтовый адрес help@tripbenefit.com.</p>
	    <p>Мы искренне надеемся, что наша работа будет полезна как для жителей города, так и
гостей Санкт-Петербурга. Мы рассчитываем, что наш сервис поможет Вам сэкономить
ваши деньги и, главное, время. Мы добавили список достопримечательностей, а также
гостиницы города, что должно дополнительно упростить жизнь иногородним туристам.</p>
		<p>Большое спасибо, что вы воспользовались нашим сайтом!</p>
	</div>
{% endblock %}