{% extends "master/master.html" %}

{% block title %}
<title>2% discount on Booking.com | TripBenefit.com</title>
{% endblock %}

{% block content %}
<section class="booking-com">
	<h1>2% discount on Booking.com</h1>
	<div class="intro">Are you about to book a hotel at  
		<a href="http://www.booking.com/index.html?aid=352212" target="_blank">Booking.com</a> website? Get 2% of room cost back to your e-wallet account.
	</div>		
	<section class="steps">
		<h2 class="title">How does it work?</h2>
		<div class="cols clearfix">
			<div class="col1 col">
				<div class="txt">
					<h3>Book at Booking.com</h3>
					<p>
						Use our link to go to <a href="http://www.booking.com/index.html?aid=352212" target="_blank">Booking.com</a> website and 
						book a room there.<br/><br/>
				<a href="http://www.booking.com/index.html?aid=352212" target="_blank"><img src="/images/booking_com.gif" alt="Booking.com" /></a>
					</p>
				</div>
			</div>
			<div class="col2 col">
				<div class="txt">
					<h3>Let us know</h3>
					<p>
						Send your booking number and PayPal or Skrill e-wallet id to our e-mail <a href="mailto:help@tripbenefit.com">help@tripbenefit.com</a>.
					</p>
				</div>
			</div>
			<div class="col3 col">
				<div class="txt">
					<h3>Receive your money</h3>
					<p>
						Stay at the hotel, pay for your room and get the 2% payment after the checkout!
					</p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="faq">
		<h2 class="title">F.A.Q.</h2>
		<div class="question">Q: Is it safe?</div>
		<div class="answer">A: Absolutely! The whole process of hotel reservation takes place at original Booking.com site. 
			We just offer you to use our link to get there, so that you participate in our moneyback program to get back 2% of 
			your room price.</div>
		<div class="question">Q: When will I get my 2% back?</div>
		<div class="answer">A: We will make the payment within two days after your checkout date.</div>
		<div class="question">Q: Will I get the payment in case I cancel my booking?</div>
		<div class="answer">A: Unfortunately not. We offer to return 2% of your real expenses.</div>
	</section>
	<section class="goto">
		<h2 class="title"><a href="http://www.booking.com/index.html?aid=352212" target="_blank">Proceed to Booking.com</a></h2>
	</section>
</section>
{% endblock %}