{% extends "master/master.html" %}

{% block title %}
<title>Скидка 2% на Booking.com | TripBenefit.com</title>
{% endblock %}

{% block content %}
<section class="booking-com">
	<h1>Скидка 2% на Booking.com</h1>
	<div class="intro">Собираетесь забронировать отель на сайте 
		<a href="http://www.booking.com/index.html?aid=352212" target="_blank">Booking.com</a>? Получите 2% от суммы бронирования на счет мобильного телефона
		или электронного кошелька.</div>
		
	<section class="steps">
		<h2 class="title">Как это работает?</h2>
		<div class="cols clearfix">
			<div class="col1 col">
				<div class="txt">
					<h3>Бронируйте на Booking.com</h3>
					<p>
						Перейдите на сайт <a href="http://www.booking.com/index.html?aid=352212" target="_blank">Booking.com</a> по нашей
		ссылке и совершите бронирование отеля.<br/><br/>
				<a href="http://www.booking.com/index.html?aid=352212" target="_blank"><img src="/images/booking_com.gif" alt="Booking.com" /></a>
					</p>
				</div>
			</div>
			<div class="col2 col">
				<div class="txt">
					<h3>Сообщите нам</h3>
					<p>
						Отправьте номер брони и желаемый способ получения платежа (номер мобильного телефона в РФ, номер кошелька Yandex или PayPal) нам на <a href="mailto:help@tripbenefit.com">help@tripbenefit.com</a>.
					</p>
				</div>
			</div>
			<div class="col3 col">
				<div class="txt">
					<h3>Получите деньги</h3>
					<p>
						Остановитесь в отеле, оплатите проживание и получите платеж 2% от нас!
					</p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="faq">
		<h2 class="title">Популярные вопросы</h2>
		<div class="question">В: Это безопасно?</div>
		<div class="answer">О: Конечно! Весь процесс бронирования отеля происходит на сайте Booking.com. Мы
			всего лишь предлагаем вам перейти на него по нашей ссылке, чтобы участвовать в нашей программе возврата 2%
			от стоимости отеля.</div>
		<div class="question">В: В какой момент я получу свои 2%?</div>
		<div class="answer">О: Мы произведем платеж в течение двух дней после окончания срока проживания в отеле (check-out).</div>
		<div class="question">В: Получу ли платеж, если откажусь от своего бронирования отеля?</div>
		<div class="answer">О: К сожалению, нет. Мы предлагаем вернуть 2% от ваших реальных расходов.</div>
	</section>
	<section class="goto">
		<h2 class="title"><a href="http://www.booking.com/index.html?aid=352212" target="_blank">Перейти к бронированию на Booking.com</a></h2>
	</section>
</section>
{% endblock %}