{% extends "master/master.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="headline">
		<h2>First time in St. Petersburg?</h2>
		<h2>Get transport directions here!</h2>
	</div>
	<form class="homeform">
		<h3>From</h3>
		<div class="inputbox searchbox">
			<input type="text" id="hotel" name="address" />
		</div>
		<h3>To</h3>
		<div class="inputbox searchbox">
			<input type="text" id="attraction" name="address" />
		</div>
		<h3>Date and time</h3>
		<div class="datebox">
			<div class="inputbox">
				<input type="text" id="datepicker" />
			</div>
		</div>
		<div class="timebox">
			<div class="inputbox">
				<input type="text" id="timepicker" value="09:30" />
			</div>
		</div>
		<div class="buttons">
			<div class="blue button" onclick="HomePage.search()">
				Search
			</div>
		</div>
	</form>
	<div class="features">
		<div>Feature 1</div>
		<div>Feature 2</div>
		<div>Feature 3</div>
	</div>
{% endblock %}

{% block scripts %} 
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="scripts/home.js"></script>
<script type="text/javascript" language="javascript">
    HomePage.init();
</script>
{% endblock %}