{% extends "master/master.html" %}

{% block title %}
<title>Public transport transit in St. Petersburg | TripBenefit.com</title>
<meta name="description" content="Get transport directions for tourist in St. Petersburg, Russia" />
{% endblock %}

{% block content %}
	<div class="headline">
		<h2>First time in St. Petersburg?</h2>
		<h2>Get transport directions here!</h2>
	</div>
	<form class="homeform">
		<h3>From</h3>
		<div class="inputbox searchbox">
			<input id="from" name="from" type="text" autocomplete="off" placeholder="try your hotel name or street address" />
			<img id="from_status" src="/images/empty.png" width="16" height="16" alt="Valid" />
		</div>
		<h3 class="to">To</h3>
		<div class="inputbox searchbox">
			<input id="to" name="to" type="text" autocomplete="off" placeholder="try State Hermitage" />
			<img id="to_status" src="/images/empty.png" width="16" height="16" alt="Valid" />
		</div>
		<h3 class="datetime">Date and time</h3>
		<div class="datebox">
			<div class="inputbox">
				<input type="text" id="datepicker" />
			</div>
		</div>
		<div class="timebox">
			<div class="inputbox">
				<input type="text" id="timepicker" value="09:30" />
				<img id="time_status" src="/images/empty.png" width="16" height="16" alt="Valid" />
			</div>
		</div>
		<div class="buttons">
			<div class="blue button bigbutton" onclick="HomePage.search()">
				Get directions
			</div>
		</div>
	</form>
	<div class="features">
		Features
	</div>
{% endblock %}

{% block scripts %} 
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="scripts/home.js"></script>
<script type="text/javascript" language="javascript">
    HomePage.init();
</script>
{% endblock %}