{% extends "master/master.html" %}

{% block title %}
<title>{{"Hotels"|translate}} | TripBenefit.com</title>
{% endblock %}

{% block content %}
<section class="hotels">
	<h1>{{"Rating of St. Petersburg hotel locations"|translate}}</h1>
	<div class="sectionheader">
		<h2>Total travel time to important Points of Interest</h2>
	</div>
	<div class="hotellist">
		{% for entry in data.ratings %}
		<div class="hotelentry {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			<div class="rank">{{forloop.counter}}</div>
			<div class="name"><a href="/{{'LANGUAGE'|translate}}/hotel/{{entry.hotel_name}}">{{entry.hotel_name}}</a></div>
			<div class="duration">{{entry.duration_string}}</div>
			<div class="price">{{entry.expenses_string}}</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endblock %}