{% extends "master/master.html" %}

{% block title %}Transit options{% endblock %}

{% block content %}
{% for route in data %}
	<h2>Option {{forloop.counter}}</h2>
	<table>
		<tr>
			<td><h4>Duration: {{route.get_duration}} min</h4></td>
			<td><h4 style='margin-left: 30px'>Metric: {{route.get_cost}}</h4></td>
			<td>(price + time * k, where k is 3 for subway, 2.5 for walk and 3.5 for land transport)	</td>
		</tr>
	</table>	
	<table>
		<tr>
			<td>Duration</td>
			<td>(travel)</td>
			<td>(interval)</td>
			<td>Info</td>
			<td>Direction</td>
			<td>Start</td>
			<td>End</td>
		</tr>
	{% for step in route.directions %}
		<tr>
			<td>{{step.duration}} min</td>
			<td>{{step.initial_duration}} min</td>
			<td>{{step.service_interval}} min</td>
			<td>{{step.addinfo}}</td>
			<td>{{step.direction}}</td>
			<td>{{step.start_location}}</td>
			<td>{{step.end_location}}</td>
		</tr>
	{% endfor %}
	</table>
{% endfor %}
{% endblock %}