html, body, h1, h2, h3, h4, hr, ul, li {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
ul, ol {
    list-style: none;
}
body {
    background: #F7F7F7 url(/images/bg_texture.jpg) repeat scroll 0 0;
}
footer {
    background: #72ADE9;
    clear: both;
    color: white;
}
footer h4 {
    color: #FCE226;
}
footer a:link, footer a:visited, footer a:hover, footer a:active {
    color: white;
}
.footer-wrapper {
    clear: both;
    position: relative;
    text-align: left;
    margin: 0 auto;
    padding: 30px 0 20px 0;
    width: 885px;
}
.footer-contact {
    float: left;
    margin-right: 70px;
}
.copyright p {
    clear: both;
    padding: 25px 0 0;
}
div {
    display: block;
}
hr {
    clear: both;
}
a:link {
    color: #12C;
    cursor: pointer;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.mainpane {
    margin: auto;
    width: 885px;
    clear: both;
    margin-bottom: 60px;
}
.mainpane h3 {
    font-size: 1.2em;
}
.inputbox {
    background: white;
    border: 1px solid #D9D9D9;
    border-top: 1px solid silver;
    height: 27px;
    margin-top: .5em;
    margin-bottom: .5em;
}
.inputbox input {
    background-color: transparent;
    border: 0px;
    color: black;
    height: 20px;
    outline: none;
    vertical-align: top;
    font-size: 1.2em;
    margin: 3px 8px 1px 8px;
}
.headline {
    margin: 1em 0em 2em 0em;
}
.headline h2 {
    color: #DD4B39;
    font-size: 3em;    
}
.homeform {
    width: 550px;
    margin-right: 3em;
    border: solid 1px #CCCCCC;
    background: white;
    border: 1px solid #B3B3B3;
    border-bottom: 1px solid #999;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1),0 1px 0 rgba(255, 255, 255, .5) inset;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1),0 1px 0 rgba(255,255,255,.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1),0 1px 0 rgba(255, 255, 255, .5) inset;
    padding: 20px;
}
.homeform .to, .homeform .datetime {
    margin-top: 1em;
}
.right_box {
    float: right;
    text-align: center;
    padding: 10px 5px;
    background: #F7F7F7;
    width: 200px;
}
.right_box .attention h4 {
    color: #45688E;
    font-size: 1.09em;
    border-bottom: solid 1px #DAE1E8;
    padding: 0px 0px 3px;
    margin: 0px 5px 3px;
}
.left_box h4 a:link, .left_box h4 a:active, .left_box h4 a:hover, .left_box h4 a:visited {
    text-decoration: none;
    color: #183293;
}
.plusonediv {
    float: right;
    margin-right: -25px;
}
.features {
    font-style: italic;
    font-size: 1.5em;
    text-align: justify;
}
.searchbox {
    width: 545px;
}
.searchbox input {
    width: 511px;
    float: left;
}
.searchbox img, .timebox img, .datebox img {
    margin-top: 5px;
    margin-right: 2px;
}
.datebox {
    float: left;
    padding-right: 1em;
}
.datebox input {
    width: 8em;
}
.timebox {
    float: left;
}
.timebox input {
    width: 6em;
}
.homeform .buttons {
    clear: left;
    padding-top: 1em;
}
.ui-autocomplete {
    max-height: 275px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
.pageheader {
    background-color: #72ade9;
}
.pageheader .pane {
    margin: auto;
    width: 885px;
    height: 90px;
    position: relative;
}
.pageheader .logo a, .pageheader .logo a:active, .pageheader .logo a:visited {
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-family: Comic Sans MS;
    margin-right: 1em;
}
.pageheader .logo {
    bottom: 9px;
    position: absolute;
}
.pageheader .menu {
    bottom: 35px;
    right: 0;
    position: absolute;
}
.pageheader .menu li {
    display: block;
    float: left;
}
.pageheader .menu a {
    border: 1px solid transparent;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: white;
    font-size: 1.3em;
    margin-left: 1em;
    padding: 0.5em 1em;
    text-decoration: none;
}
.pageheader .menu a:hover, .pageheader .menu .active a {
    color: #FCE226;
}
.pageheader .menu .language a, .pageheader .menu .language a:hover, .pageheader .menu .language a:visited {
    color: #183293;
}
.button {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    min-width: 54px;
    padding: 6px 15px;
    display: inline-block;
    cursor: pointer;
}
.bigbutton {
    font-size: 1.4em;  
    padding: 12px 30px;  
}
.blue {
    background-color: #6fabe8;
    background-image: linear-gradient(top,#6fabe8,#4787ED);
    background-image: -webkit-linear-gradient(top,#6fabe8,#4787ED);
    background-image: -moz-linear-gradient(top,#6fabe8,#4787ED);
    background-image: -ms-linear-gradient(top,#6fabe8,#4787ED);
    background-image: -o-linear-gradient(top,#6fabe8,#4787ED);
    border: 1px solid #3079ED;
    color: white;
}
.blue:hover {
    background-color: #357AE8;
    background-image: linear-gradient(top,#6fabe8,#357AE8);
    background-image: -webkit-linear-gradient(top,#6fabe8,#357AE8);
    background-image: -moz-linear-gradient(top,#6fabe8,#357AE8);
    background-image: -ms-linear-gradient(top,#6fabe8,#357AE8);
    background-image: -o-linear-gradient(top,#6fabe8,#357AE8);
    border: 1px solid #2F5BB7;
}
.gray {
    background-color: #F5F5F5;
    background-image: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1);
    background-image: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);
    background-image: -ms-linear-gradient(top,#F5F5F5,#F1F1F1);
    background-image: -o-linear-gradient(top,#F5F5F5,#F1F1F1);
    background-image: linear-gradient(top,#F5F5F5,#F1F1F1);
    color: #444;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.gray:hover {
    background-color: #F8F8F8;
    background-image: -webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: -moz-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: -ms-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: -o-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: linear-gradient(top,#F8F8F8,#F1F1F1);
    color: #333;
    border: 1px solid #C6C6C6;
}
.linkbutton {
    font-size: .8em;
    font-weight: bold;
    color: #15C;
    text-decoration: none;
    cursor: pointer;
}
.linkbutton:hover {
    text-decoration: underline;
}
.sidepanel {
    float:left;
    width: 250px;
}

.sidepanel .preferences {
    background-color: #FFE599;
    border: solid 1px #CCCCCC;
    margin: 10px;
    padding: 10px;        
}

.sidepanel .preferences .button {
    margin-top: 1em;
}

.sidepanel h4 {
    color: #DD4B39;
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.itinerary, .hotels, .hotel, .booking-com {
    margin: 1em 0;
    max-width: 1000px;
    border: solid 1px #CCCCCC;
    background: white;
    border: 1px solid #B3B3B3;
    border-bottom: 1px solid #999;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1),0 1px 0 rgba(255, 255, 255, .5) inset;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1),0 1px 0 rgba(255,255,255,.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1),0 1px 0 rgba(255, 255, 255, .5) inset;
    padding: 20px;    
}

.itineraryShifted {
    margin: 10px 10px 10px 250px;
    max-width: 800px;
    padding: 10px;
    border: solid 1px #CCCCCC;
}
.itinerary h1 {
    color: #DD4B39;
    font-size: 2em;
    margin-bottom: .5em;
}
.itinerary .buttons {
    float: right;
    overflow: hidden;
}
.itinerary .title {
    margin: 0.6em 0 .2em 0;
}
.itinerary .title h2 {
    color: #DD4B39;
    font-size: 1.4em;
    font-weight: normal;
    float: left;
    margin-right: 1em;
}
.itinerary .summary {
    color: #093;
    margin-bottom: 1.1em;    
}
.itinerary .summary .icon {
    float:left;
    margin-top: -13px;
}
.itinerary .summary .time {
    float:left;
    margin-top: 5px;
    margin-right: 1em;
}
.itinerary .summary .price {
    margin-top: 5px;
    float: left;  
    width: 200px;
}
.itinerary .step {
    position: relative;
    margin: .8em 0 1.3em 0;
    clear: both;
}
.itinerary .summary::after, .itinerary .step::after, .hotels .starfilter:after, .hotels .hotelentry:after, 
.hotel .poi:after, .hotel .sectionheader::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
}
.itinerary .step .info {
    float: left;
    width: 120px;
    margin-right: 1.5em;
    overflow: hidden;
}
.itinerary .step .info .time {
    font-weight: bold;
}
.itinerary .step .info .hint {
    font-style: italic;
    font-size: .85em;
}
.itinerary .step .instuction {
    overflow: hidden;
}
.itinerary .step .instuction .button {
    margin-top: .3em;
}
.itinerary .step .instuction .details {
    margin-top: .3em;
}
.hotels h1, .hotel h1 {
    color: #DD4B39;
    font-size: 2em;
    margin-bottom: 13px;
}
.hotel .image {
    float: right;
    margin: 7px 0px 0px 18px;
}
.hotels .starfilter {
    margin-bottom: 25px;
}
.hotels .starfilter h4, .hotels .starfilter div {
    float: left;
    margin-right: 20px;
}
.hotels .info {
    color: #093;
    margin-bottom: 30px;
}
.hotel .info {
    color: #093;
    margin-bottom: 18px;
}
.hotel .buttons {
    margin-bottom: 35px;    
}
.sectionheader {
    background: #CAE8F0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px;
    text-shadow: 1px 1px 1px white;
}
.sectionheader h2 {
    font-weight: 500;
}
.hotels .hotellist, .hotel .poilist {
    margin-bottom: 35px;
}
.hotels .hotelentry, .hotel .poi {
    font-size: 1.25em;
}
.hotels .even, .hotel .even {
    background-color: #F1F1F1;
}
.hotels .hotelentry .rank {
    float: left;
    width: 1.5em;
    padding: 10px;
}
.hotels .hotelentry .name {
    float: left;
    width: 28em;
    padding: 10px;
}
.hotels .hotelentry .duration {
    float: left;
    width: 8em;
    text-align: right;
    padding: 10px;
}
.hotels .hotelentry .price {
    float: left;
    width: 6em;
    text-align: right;
    padding: 10px;
}
.hotel .sectionheader .name {
    float: left;
    width: 360px;
}
.hotel .poi .name {
    float: left;
    width: 350px;
    padding: 10px;
}
.hotel .sectionheader .duration {
    float: left;
    width: 130px;
    text-align: right;
}
.hotel .poi .duration {
    float: left;
    width: 120px;
    text-align: right;
    padding: 10px;
}
.hotel .sectionheader .price {
    float: left;
    width: 110px;
    text-align: right;
}
.hotel .poi .price {
    float: left;
    width: 90px;
    text-align: right;
    padding: 10px;
}
.hotel .poi .goto {
    float: left;
    width: 5em;
    text-align: right;
    padding: 10px 10px 10px 20px;
}
.hotel .poi .gofrom {
    float: left;
    width: 4.5em;
    text-align: right;
    padding: 10px;
}
.hotel .mapcontainer {
    padding: 15px 10px;
}
.hotel #hotelmap {
    width: 100%;
    height: 500px;
    border: 1px solid #CAE8F0;
}
/* Z-index of #mask must lower than #boxes .window */
#mask {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9000;
    background-color: #DDD;
    opacity: .6;
    display: none;
}
.window {
    position: fixed;    
    z-index: 9999;
    background-color: white;
    border: 1px solid #CCC;
    -webkit-box-shadow: 0 1px 5px #ccc;
    padding: .2em;
    width: 548px;
}
.window .header {
    margin-bottom: .7em;
}
.window h2 {
    color: #DD4B39;
    font-size: 1.4em;
    font-weight: normal;
    margin: .4em;
}
.options .option {
    float: left;
    width: 160px;
    height: 250px;
    border: 1px solid #CCC;
    margin: 6px 2px 6px 7px;
    padding: .5em;
    font-size: .8em;
    cursor: default;
}
.options .option:hover {
    margin: 5px 1px 5px 6px;
    border: 2px solid #CCC;
}
.options .selected {
    background-color: #FFC;
}
.options .option h3 {
    margin: .5em 0 .5em 0;
}
.options .option .experience {
    margin-top: .4em;
}
.options .option .risks {
    margin-top: .4em;
}
.window .buttons {
    float: right;
    margin-right: .5em;
}
.gmnoprint div a {
    display: none !important;/*TODO: this statement might break the ToS of Google maps, to be reviewed*/
}
.about {
    font-size: 1.2em;
}
.subwayline1 {
    color: red;
}
.subwayline2 {
    color: #0C4295;
}
.subwayline3 {
    color: #00751C;
}
.subwayline4 {
    color: #CE3800;
}
.subwayline5 {
    color: #4D0255;
}
/* Firefox should have a grey placeholder, this must be after the other input
 * definitions because it must override the color set there.
 */
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #a9a9a9;
}
.invisible a, .invisible a:visited, .invisible a:hover, .invisible a:active {
    color: white;
}
.booking-com h1 {
    color: #DD4B39;
    font-size: 2em;
    margin-bottom: .5em;
} 
/* ABOUT3 */
.booking-com .intro {
    font-size: 17.3px;
    line-height: 150%;
    margin-bottom: 35px;
} 
.booking-com .steps .title, .booking-com .faq .title, .booking-com .goto .title {
  font-size: 22px;
  line-height: 130%;
  padding-bottom: 19px;
  font-weight: normal;
}
.booking-com .steps .cols {
  background: url(/images/hr1.png) no-repeat 0 100%;
  height: 140px;
  margin: 0 0 38px;
  padding: 0 0 20px;
}
.booking-com .steps .col {
  float: left;
  padding: 0 0 0 55px;
}
.booking-com .steps .col1 {
  background: url(/images/number1.jpg) no-repeat 0 0;
  margin: 0 23px 0 0;
  width: 225px;
}
.booking-com .steps .col2 {
  background: url(/images/number2.jpg) no-repeat 0 0;
  margin: 0 23px 0 0;
  width: 225px;
}
.booking-com .steps .col3 {
  background: url(/images/number3.jpg) no-repeat 0 0;
  width: 175px;
}
.booking-com .steps .txt {
  font-size: 13px;
  line-height: 137%;
}
.booking-com .steps .txt h3 {
  font-size: 15px;
  font-weight: bold;
  line-height: 120%;
  padding: 0 0 6px;
}
.booking-com .faq .question {
    font-weight: bold;
    margin-bottom: 5px;
}
.booking-com .faq .answer {
    margin-bottom: 15px;
}
.booking-com .goto .title {
    margin-top: 40px;
}
