html, body, h1, h2, h3, h4, hr {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background: #F7F7F7 url(/images/bg_texture.jpg) repeat scroll 0 0;
}
div {
    display: block;
}
hr {
    clear: both;
}
a:link {
    color: #12C;
    cursor: pointer;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.mainpane {
    margin: auto;
    width: 885px;
}
.mainpane h3 {
    font-size: 1.2em;
}
.inputbox {
    background: white;
    border: 1px solid #D9D9D9;
    border-top: 1px solid silver;
    height: 27px;
    margin-top: .5em;
    margin-bottom: .5em;
}
.inputbox input {
    background-color: transparent;
    border: 0px;
    color: black;
    height: 20px;
    outline: none;
    vertical-align: top;
    font-size: 1.2em;
    margin: 3px 8px 1px 8px;
}
.headline {
    margin: 1em 0em 3em 0em;
}
.headline h2 {
    color: #DD4B39;
    font-size: 3em;    
}
.homeform {
    float:left;
    margin-right: 3em;
    border: solid 1px #CCCCCC;
    background: white;
    border: 1px solid #B3B3B3;
    border-bottom: 1px solid #999;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1),0 1px 0 rgba(255, 255, 255, .5) inset;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1),0 1px 0 rgba(255,255,255,.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1),0 1px 0 rgba(255, 255, 255, .5) inset;
    padding: 20px;        
}
.homeform .to, .homeform .datetime {
    margin-top: 1em;
}
.features {
    font-style: italic;
    font-size: 1.5em;
    text-align: justify;
}
.searchbox {
    width: 402px;
}
.searchbox input {
    width: 388px;
}
.datebox {
    float: left;
    padding-right: 1em;
}
.datebox input {
    width: 8em;
}
.timebox {
    float: left;
}
.timebox input {
    width: 6em;
}
.mainpane .buttons {
    clear: left;
    padding-top: 1em;
}
.ui-autocomplete {
    max-height: 275px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
.pageheader {
    background-color: #6FA8DC;
}
.pageheader .pane {
    margin: auto;
    width: 885px;
    height: 90px;
    position: relative;
}
.pageheader .logo a, .pageheader .logo a:active, .pageheader .logo a:visited {
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-family: Comic Sans MS;
    margin-right: 1em;
}
.pageheader .logo {
    bottom: 30px;
    position: absolute;
}
.pageheader .menu {
    bottom: 30px;
    right: 0;
    position: absolute;
}
.pageheader .menu li {
    display: block;
    float: left;
}
.pageheader .menu a {
    border: 1px solid transparent;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: white;
    font-size: 1.3em;
    margin-left: 1em;
    padding: 0.5em 1em;
    text-decoration: none;
}
.pageheader .menu a:hover, .pageheader .menu .active a {
    background: #CCD2E5 url(/images/gradient.png) bottom left repeat-x;
    border-color: #B3B3B3;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}
.button {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    min-width: 54px;
    padding: 6px 15px;
    display: inline-block;
    cursor: pointer;
}
.bigbutton {
    font-size: 1.4em;  
    padding: 12px 30px;  
}
.blue {
    background-color: #4D90FE;
    background-image: linear-gradient(top,#4D90FE,#4787ED);
    background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
    background-image: -moz-linear-gradient(top,#4D90FE,#4787ED);
    background-image: -ms-linear-gradient(top,#4D90FE,#4787ED);
    background-image: -o-linear-gradient(top,#4D90FE,#4787ED);
    border: 1px solid #3079ED;
    color: white;
}
.blue:hover {
    background-color: #357AE8;
    background-image: linear-gradient(top,#4D90FE,#357AE8);
    background-image: -webkit-linear-gradient(top,#4D90FE,#357AE8);
    background-image: -moz-linear-gradient(top,#4D90FE,#357AE8);
    background-image: -ms-linear-gradient(top,#4D90FE,#357AE8);
    background-image: -o-linear-gradient(top,#4D90FE,#357AE8);
    border: 1px solid #2F5BB7;
}
.gray {
    background-color: #F5F5F5;
    background-image: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1);
    background-image: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);
    background-image: -ms-linear-gradient(top,#F5F5F5,#F1F1F1);
    background-image: -o-linear-gradient(top,#F5F5F5,#F1F1F1);
    background-image: linear-gradient(top,#F5F5F5,#F1F1F1);
    color: #444;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.gray:hover {
    background-color: #F8F8F8;
    background-image: -webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: -moz-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: -ms-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: -o-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: linear-gradient(top,#F8F8F8,#F1F1F1);
    color: #333;
    border: 1px solid #C6C6C6;
}
.linkbutton {
    font-size: .8em;
    font-weight: bold;
    color: #15C;
    text-decoration: none;
    cursor: pointer;
}
.linkbutton:hover {
    text-decoration: underline;
}
.sidepanel {
    float:left;
    width: 250px;
}

.sidepanel .preferences {
    background-color: #FFE599;
    border: solid 1px #CCCCCC;
    margin: 10px;
    padding: 10px;        
}

.sidepanel .preferences .button {
    margin-top: 1em;
}

.sidepanel h4 {
    color: #DD4B39;
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.itinerary {
    margin: 10px;
    max-width: 1000px;
    border: solid 1px #CCCCCC;
    background: white;
    border: 1px solid #B3B3B3;
    border-bottom: 1px solid #999;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1),0 1px 0 rgba(255, 255, 255, .5) inset;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1),0 1px 0 rgba(255,255,255,.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1),0 1px 0 rgba(255, 255, 255, .5) inset;
    padding: 20px;    
}

.itineraryShifted {
    margin: 10px 10px 10px 250px;
    max-width: 800px;
    padding: 10px;
    border: solid 1px #CCCCCC;
}
.itinerary h1 {
    color: #DD4B39;
    font-size: 2em;
    margin-bottom: .5em;
}
.itinerary .buttons {
    float: right;
    overflow: hidden;
}
.itinerary .title {
    margin: 0.6em 0 .2em 0;
}
.itinerary .title h2 {
    color: #DD4B39;
    font-size: 1.4em;
    font-weight: normal;
    float: left;
    margin-right: 1em;
}
.itinerary .summary {
    color: #093;
    margin-bottom: 1.1em;    
}
.itinerary .summary .icon {
    float:left;
    margin-top: -13px;
}
.itinerary .summary .time {
    float:left;
    margin-top: 5px;
    margin-right: 1em;
}
.itinerary .summary .price {
    margin-top: 5px;
    float: left;  
    width: 200px;
}
.itinerary .step {
    position: relative;
    margin: .8em 0 1.3em 0;
    clear: both;
}
.itinerary .summary::after, .itinerary .step::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
}
.itinerary .step .info {
    float: left;
    width: 120px;
    margin-right: 1.5em;
    overflow: hidden;
}
.itinerary .step .info .time {
    font-weight: bold;
}
.itinerary .step .info .hint {
    font-style: italic;
    font-size: .85em;
}
.itinerary .step .instuction {
    overflow: hidden;
}
.itinerary .step .instuction .button {
    margin-top: .3em;
}
.itinerary .step .instuction .details {
    margin-top: .3em;
}
/* Z-index of #mask must lower than #boxes .window */
#mask {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9000;
    background-color: #DDD;
    opacity: .6;
    display: none;
}
.window {
    position: fixed;    
    z-index: 9999;
    background-color: white;
    border: 1px solid #CCC;
    -webkit-box-shadow: 0 1px 5px #ccc;
    padding: .2em;
    width: 548px;
}
.window .header {
    margin-bottom: .7em;
}
.window h2 {
    color: #DD4B39;
    font-size: 1.4em;
    font-weight: normal;
    margin: .4em;
}
.options .option {
    float: left;
    width: 160px;
    height: 250px;
    border: 1px solid #CCC;
    margin: 6px 2px 6px 7px;
    padding: .5em;
    font-size: .8em;
    cursor: default;
}
.options .option:hover {
    margin: 5px 1px 5px 6px;
    border: 2px solid #CCC;
}
.options .selected {
    background-color: #FFC;
}
.options .option h3 {
    margin: .5em 0 .5em 0;
}
.options .option .experience {
    margin-top: .4em;
}
.options .option .risks {
    margin-top: .4em;
}
.window .buttons {
    float: right;
    margin-right: .5em;
}
.gmnoprint div a {
    display: none !important;//TODO: this statement might break the ToS of Google maps, to be reviewed
}
