{{#trips}}
	<hr/>
	<div class="title">
		<h2>{{title}}</h2>
		{{#change_action}}
			<div class="gray button" onclick="showPopup()">{{change_action}}</div>
		{{/change_action}}
	</div>
	{{#summary}}
		<div class="summary">{{summary}}</div>
	{{/summary}}
	{{#steps}}
		<div class="step">
			<div class="info">
				<div class="time">{{start_time}}</div>
				<div class="hint">{{hint}}</div>
			</div>
			<div class="instuction">
				<div class="text">{{instruction}}</div>
				{{#details}}
					<div class="gray button">
						{{show_label}}						
					</div>
				{{/details}}
			</div>
		</div>
	{{/steps}}
{{/trips}}