<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}{% endblock %}
	<meta name="author" content="TripBenefit.com" />
	<meta name="language" content="english">
	<link href="/favicon.ico" rel="icon" />    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="scripts/common.js"></script>
    <link href="styles/main.css" rel="stylesheet" type="text/css"/>
	<link href="styles/jquery-ui-1.8.20.custom.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33375781-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();	
	</script>    
</head>
<body>
	<div class="pageheader">
		<div class="pane">
			<div class="logo">
				<a href="/"><img src="images/logo.png" alt="TripBenefit.com" /></a>
			</div>
			<div class="menu">
				<ul>
            		<li {% ifequal request.path "/" %}class="active"{% endifequal %}><a href="/">Home</a></li>
            		<li {% ifequal request.path "/about" %}class="active"{% endifequal %}><a href="/about">About</a></li>
          		</ul>								
			</div>
		</div>
	</div>
	<div class="mainpane">
    {% block content %}{% endblock %}
	</div>
    {% block scripts %}{% endblock %}       
</body>
</html>
